:root {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
}

/* Viteのデフォルトスタイルをリセット */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
